@font-face {
  font-family: CircularStd-Black;
  src: url(/src/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: CircularStd-Bold;
  src: url(/src/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: CircularStd-Book;
  src: url(/src/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: CircularStd-Medium;
  src: url(/src/fonts/CircularStd-Medium.otf);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;

  padding: 0;
  margin: 0;

  scroll-behavior: smooth;
}

button {
  border: none;
  background-image: linear-gradient(35deg, #a83232, #ff5b5b);
  color: white;

  font-family: 'CircularStd-Medium', Helvetica, sans-serif;
  padding: 0.5em 1.5em;
  border-radius: 100px;

  cursor: pointer;
}

button:hover {
  background-image: linear-gradient(35deg, #ff5b5b, #ff5b5b);
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'] {
  border: 1px solid #ccc;

  font-family: 'CircularStd-Book', Helvetica, sans-serif;
  font-size: 15px;

  padding: 0.5em 1.5em;
  border-radius: 100px;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus {
  outline: none;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes swing-in-right-fwd {
  0% {
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 1;
  }
}

@keyframes swing-in-right-fwd {
  0% {
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 1;
  }
}
