@font-face {
  font-family: CircularStd-Black;
  src: url(/src/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: CircularStd-Bold;
  src: url(/src/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: CircularStd-Book;
  src: url(/src/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: CircularStd-Medium;
  src: url(/src/fonts/CircularStd-Medium.otf);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;

  padding: 0;
  margin: 0;

  scroll-behavior: smooth;
}

button {
  border: none;
  background-image: linear-gradient(35deg, #a83232, #ff5b5b);
  color: white;

  font-family: 'CircularStd-Medium', Helvetica, sans-serif;
  padding: 0.5em 1.5em;
  border-radius: 100px;

  cursor: pointer;
}
